<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyTower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,608}</string>
                <key>spriteSourceSize</key>
                <string>{672,608}</string>
                <key>textureRect</key>
                <string>{{0,0},{672,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EnemyTower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,608}</string>
                <key>spriteSourceSize</key>
                <string>{672,608}</string>
                <key>textureRect</key>
                <string>{{672,0},{672,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyHome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,190}</string>
                <key>spriteSourceSize</key>
                <string>{254,190}</string>
                <key>textureRect</key>
                <string>{{1344,0},{254,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyTower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,608}</string>
                <key>spriteSourceSize</key>
                <string>{672,608}</string>
                <key>textureRect</key>
                <string>{{0,608},{672,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyTower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,608}</string>
                <key>spriteSourceSize</key>
                <string>{672,608}</string>
                <key>textureRect</key>
                <string>{{672,608},{672,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tower.png</string>
            <key>size</key>
            <string>{1598,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f68c084490050d22740b0e77e897c251:5b2eec8dc4c8e43dfb6019e82b56efda:b43693b1cbc56c0101d4756a7d79f5dc$</string>
            <key>textureFileName</key>
            <string>Tower.png</string>
        </dict>
    </dict>
</plist>
