<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,60}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,157},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,60}</string>
                <key>spriteSize</key>
                <string>{166,158}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,823},{166,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,58}</string>
                <key>spriteSize</key>
                <string>{168,164}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,323},{168,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,61}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,489},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,61}</string>
                <key>spriteSize</key>
                <string>{166,160}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,655},{166,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,60}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{163,987},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,58}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1157},{160,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,991},{160,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,59}</string>
                <key>spriteSize</key>
                <string>{172,148}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{177,157},{172,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,56}</string>
                <key>spriteSize</key>
                <string>{170,148}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1321},{170,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,59}</string>
                <key>spriteSize</key>
                <string>{162,144}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1493},{162,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,64}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{151,1321},{170,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,62}</string>
                <key>spriteSize</key>
                <string>{166,140}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{167,593},{166,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,57}</string>
                <key>spriteSize</key>
                <string>{162,144}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{165,1493},{162,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,61}</string>
                <key>spriteSize</key>
                <string>{168,140}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{171,451},{168,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,61}</string>
                <key>spriteSize</key>
                <string>{170,142}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{177,307},{170,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,49}</string>
                <key>spriteSize</key>
                <string>{168,154}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{189,1},{168,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,56}</string>
                <key>spriteSize</key>
                <string>{160,134}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{351,167},{160,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,68}</string>
                <key>spriteSize</key>
                <string>{166,114}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{163,735},{166,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,58}</string>
                <key>spriteSize</key>
                <string>{166,134}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{161,851},{166,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,48}</string>
                <key>spriteSize</key>
                <string>{186,154}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,53}</string>
                <key>spriteSize</key>
                <string>{160,138}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{349,329},{160,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,66}</string>
                <key>spriteSize</key>
                <string>{166,118}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{293,1361},{166,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,62}</string>
                <key>spriteSize</key>
                <string>{164,128}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{359,1},{164,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,59}</string>
                <key>spriteSize</key>
                <string>{158,148}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{163,1143},{158,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,56}</string>
                <key>spriteSize</key>
                <string>{156,148}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{331,783},{156,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,59}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{341,491},{148,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,64}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{335,641},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,62}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{327,1077},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,57}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{329,1481},{152,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,61}</string>
                <key>spriteSize</key>
                <string>{156,140}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{323,1219},{156,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,61}</string>
                <key>spriteSize</key>
                <string>{158,142}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{329,933},{158,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{488,1638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46b80403902cd450d7044b2465cf4d9f:5691181df7b0088fc165ed416ad489c7:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
