<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,85}</string>
                <key>spriteSize</key>
                <string>{280,208}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{560,854},{280,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,85}</string>
                <key>spriteSize</key>
                <string>{280,208}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{538,0},{280,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,84}</string>
                <key>spriteSize</key>
                <string>{280,206}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{804,280},{280,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,85}</string>
                <key>spriteSize</key>
                <string>{280,206}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{954,0},{280,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,85}</string>
                <key>spriteSize</key>
                <string>{280,208}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{746,0},{280,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,86}</string>
                <key>spriteSize</key>
                <string>{280,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,856},{280,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,86}</string>
                <key>spriteSize</key>
                <string>{280,208}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{802,562},{280,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,86}</string>
                <key>spriteSize</key>
                <string>{280,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{280,856},{280,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,95}</string>
                <key>spriteSize</key>
                <string>{198,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{840,842},{198,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,95}</string>
                <key>spriteSize</key>
                <string>{196,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1160,0},{196,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,96}</string>
                <key>spriteSize</key>
                <string>{194,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1280,768},{194,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,95}</string>
                <key>spriteSize</key>
                <string>{194,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1402,488},{194,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,95}</string>
                <key>spriteSize</key>
                <string>{194,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1404,244},{194,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,96}</string>
                <key>spriteSize</key>
                <string>{194,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1552,0},{194,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,96}</string>
                <key>spriteSize</key>
                <string>{196,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1010,524},{196,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,95}</string>
                <key>spriteSize</key>
                <string>{196,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1084,768},{196,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,116}</string>
                <key>spriteSize</key>
                <string>{280,270}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{534,282},{280,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,116}</string>
                <key>spriteSize</key>
                <string>{282,270}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{532,572},{282,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,116}</string>
                <key>spriteSize</key>
                <string>{282,268}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{270,0},{282,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,115}</string>
                <key>spriteSize</key>
                <string>{284,266}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,572},{284,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,115}</string>
                <key>spriteSize</key>
                <string>{284,266}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{266,572},{284,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,115}</string>
                <key>spriteSize</key>
                <string>{284,266}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{268,288},{284,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,116}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,288},{284,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,116}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,0},{288,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,95}</string>
                <key>spriteSize</key>
                <string>{198,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1010,280},{198,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,95}</string>
                <key>spriteSize</key>
                <string>{196,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1206,524},{196,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,96}</string>
                <key>spriteSize</key>
                <string>{194,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1598,244},{194,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,95}</string>
                <key>spriteSize</key>
                <string>{194,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1598,438},{194,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,95}</string>
                <key>spriteSize</key>
                <string>{194,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1596,632},{194,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,96}</string>
                <key>spriteSize</key>
                <string>{194,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1474,826},{194,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,96}</string>
                <key>spriteSize</key>
                <string>{196,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1208,244},{196,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,95}</string>
                <key>spriteSize</key>
                <string>{196,244}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1356,0},{196,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{1842,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54487e95c0e3e3f632240664b5f6e89:a96086150bb805411df88d952230ee80:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
