<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3076-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{85,413},{50,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{169,1},{82,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{169,85},{82,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{169,169},{82,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{111,719},{50,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{85,253},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{169,253},{82,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{85,333},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{169,337},{82,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,421},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{163,421},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,501},{50,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,611},{50,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{53,501},{50,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{53,611},{50,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,721},{50,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,773},{50,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{105,499},{50,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{163,473},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{105,609},{50,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{163,525},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,85},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,169},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{85,85},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,253},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{85,169},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,337},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3076-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{163,577},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{163,629},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3076-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{163,681},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{248,824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b830bde89f58be2621180a6cc23d91d1:3a54bbbbea99c6021d937e5e6f416038:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
