<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,78}</string>
                <key>spriteSize</key>
                <string>{238,342}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{325,1341},{238,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,22}</string>
                <key>spriteSize</key>
                <string>{320,350}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1609},{320,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,27}</string>
                <key>spriteSize</key>
                <string>{304,308}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1193,583},{304,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,40}</string>
                <key>spriteSize</key>
                <string>{308,276}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1501,857},{308,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,90}</string>
                <key>spriteSize</key>
                <string>{346,410}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{825,203},{346,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,115}</string>
                <key>spriteSize</key>
                <string>{304,334}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{353,1581},{304,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,111}</string>
                <key>spriteSize</key>
                <string>{298,378}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1173,203},{298,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,29}</string>
                <key>spriteSize</key>
                <string>{300,282}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1037,1097},{300,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,71}</string>
                <key>spriteSize</key>
                <string>{366,242}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{825,615},{366,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,110}</string>
                <key>spriteSize</key>
                <string>{380,322}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1227},{380,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,107}</string>
                <key>spriteSize</key>
                <string>{330,312}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1473,203},{330,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,105}</string>
                <key>spriteSize</key>
                <string>{338,304}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1499,517},{338,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,93}</string>
                <key>spriteSize</key>
                <string>{822,384}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{822,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,89}</string>
                <key>spriteSize</key>
                <string>{454,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{721,859},{454,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,89}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{825,1},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000187.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,85}</string>
                <key>spriteSize</key>
                <string>{322,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1177,893},{322,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,97}</string>
                <key>spriteSize</key>
                <string>{222,230}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1627,1135},{222,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,136}</string>
                <key>spriteSize</key>
                <string>{242,308}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{659,1681},{242,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,131}</string>
                <key>spriteSize</key>
                <string>{208,300}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1283,1381},{208,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,124}</string>
                <key>spriteSize</key>
                <string>{226,286}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1339,1135},{226,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,54}</string>
                <key>spriteSize</key>
                <string>{342,452}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,773},{342,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,60}</string>
                <key>spriteSize</key>
                <string>{296,276}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{985,1381},{296,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,81}</string>
                <key>spriteSize</key>
                <string>{246,216}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1245,1683},{246,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,90}</string>
                <key>spriteSize</key>
                <string>{258,214}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{985,1659},{258,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,71}</string>
                <key>spriteSize</key>
                <string>{358,242}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{345,1097},{358,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,110}</string>
                <key>spriteSize</key>
                <string>{374,322}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{345,773},{374,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,107}</string>
                <key>spriteSize</key>
                <string>{314,312}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{721,1061},{314,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,105}</string>
                <key>spriteSize</key>
                <string>{314,304}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{669,1375},{314,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,93}</string>
                <key>spriteSize</key>
                <string>{822,384}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,387},{822,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-20}</string>
                <key>spriteSize</key>
                <string>{266,201}</string>
                <key>spriteSourceSize</key>
                <string>{274,329}</string>
                <key>textureRect</key>
                <string>{{1493,1571},{266,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-24}</string>
                <key>spriteSize</key>
                <string>{428,200}</string>
                <key>spriteSourceSize</key>
                <string>{456,414}</string>
                <key>textureRect</key>
                <string>{{1427,1},{428,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,85}</string>
                <key>spriteSize</key>
                <string>{294,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1493,1367},{294,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1856,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e779d648ae46fd12550f063926079615:f23d85fd3fd5a44e4747a13a149dfb2f:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
