<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,45}</string>
                <key>spriteSize</key>
                <string>{272,276}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{806,266},{272,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,44}</string>
                <key>spriteSize</key>
                <string>{272,280}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{534,0},{272,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,44}</string>
                <key>spriteSize</key>
                <string>{266,284}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{806,0},{266,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,44}</string>
                <key>spriteSize</key>
                <string>{266,288}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,0},{266,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,44}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,288},{264,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,48}</string>
                <key>spriteSize</key>
                <string>{268,286}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{266,0},{268,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,45}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{270,896},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,45}</string>
                <key>spriteSize</key>
                <string>{268,270}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,896},{268,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,73}</string>
                <key>spriteSize</key>
                <string>{320,220}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{226,576},{320,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,71}</string>
                <key>spriteSize</key>
                <string>{320,226}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,576},{320,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,71}</string>
                <key>spriteSize</key>
                <string>{324,220}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1090,0},{324,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,74}</string>
                <key>spriteSize</key>
                <string>{334,208}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1414,0},{334,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,77}</string>
                <key>spriteSize</key>
                <string>{342,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1090,220},{342,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,77}</string>
                <key>spriteSize</key>
                <string>{342,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1082,420},{342,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,78}</string>
                <key>spriteSize</key>
                <string>{328,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{446,538},{328,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,77}</string>
                <key>spriteSize</key>
                <string>{326,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{648,538},{326,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,92}</string>
                <key>spriteSize</key>
                <string>{252,218}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1306,816},{252,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,92}</string>
                <key>spriteSize</key>
                <string>{250,216}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1746,506},{250,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,90}</string>
                <key>spriteSize</key>
                <string>{250,214}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{836,950},{250,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,89}</string>
                <key>spriteSize</key>
                <string>{252,212}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{480,286},{252,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,88}</string>
                <key>spriteSize</key>
                <string>{252,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1558,932},{252,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,89}</string>
                <key>spriteSize</key>
                <string>{254,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1728,722},{254,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,91}</string>
                <key>spriteSize</key>
                <string>{248,214}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1748,0},{248,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,92}</string>
                <key>spriteSize</key>
                <string>{250,216}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{264,288},{250,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,73}</string>
                <key>spriteSize</key>
                <string>{292,220}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1086,840},{292,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,71}</string>
                <key>spriteSize</key>
                <string>{292,226}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1748,214},{292,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,71}</string>
                <key>spriteSize</key>
                <string>{296,220}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{974,620},{296,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,74}</string>
                <key>spriteSize</key>
                <string>{304,208}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1424,608},{304,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,77}</string>
                <key>spriteSize</key>
                <string>{314,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1432,408},{314,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,77}</string>
                <key>spriteSize</key>
                <string>{316,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1432,208},{316,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,78}</string>
                <key>spriteSize</key>
                <string>{300,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{648,748},{300,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,77}</string>
                <key>spriteSize</key>
                <string>{296,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{540,950},{296,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{1996,1164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2a3d1d04fde8ae654392c5832a152d:0d75671dbd0774f8b8511427eda83be1:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
