<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,70}</string>
                <key>spriteSize</key>
                <string>{192,232}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1664,898},{192,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{288,262}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1072,294},{288,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,56}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1430,862},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,129}</string>
                <key>spriteSize</key>
                <string>{246,230}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1710,488},{246,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,155}</string>
                <key>spriteSize</key>
                <string>{192,278}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1416,0},{192,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,158}</string>
                <key>spriteSize</key>
                <string>{176,286}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1148,582},{176,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,151}</string>
                <key>spriteSize</key>
                <string>{180,272}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1664,718},{180,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,143}</string>
                <key>spriteSize</key>
                <string>{214,260}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1216,868},{214,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,93}</string>
                <key>spriteSize</key>
                <string>{332,228}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{232,780},{332,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,96}</string>
                <key>spriteSize</key>
                <string>{294,232}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{840,302},{294,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,96}</string>
                <key>spriteSize</key>
                <string>{330,232}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{460,724},{330,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,128}</string>
                <key>spriteSize</key>
                <string>{280,238}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1324,582},{280,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,80}</string>
                <key>spriteSize</key>
                <string>{350,204}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{608,0},{350,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{208,80}</string>
                <key>spriteSize</key>
                <string>{362,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{406,0},{362,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{209,79}</string>
                <key>spriteSize</key>
                <string>{362,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{420,362},{362,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000187.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{180,69}</string>
                <key>spriteSize</key>
                <string>{318,218}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{622,350},{318,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,110}</string>
                <key>spriteSize</key>
                <string>{214,250}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1710,274},{214,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,94}</string>
                <key>spriteSize</key>
                <string>{280,214}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1334,286},{280,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,102}</string>
                <key>spriteSize</key>
                <string>{240,230}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{986,888},{240,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,127}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{920,596},{228,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{170,294}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1050,0},{170,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-24}</string>
                <key>spriteSize</key>
                <string>{162,276}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1548,278},{162,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-31}</string>
                <key>spriteSize</key>
                <string>{158,294}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{692,970},{158,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{196,286}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1220,0},{196,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,93}</string>
                <key>spriteSize</key>
                <string>{302,228}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{692,668},{302,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,96}</string>
                <key>spriteSize</key>
                <string>{274,232}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1608,0},{274,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,96}</string>
                <key>spriteSize</key>
                <string>{308,232}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,818},{308,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,128}</string>
                <key>spriteSize</key>
                <string>{302,238}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{812,0},{302,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-181,80}</string>
                <key>spriteSize</key>
                <string>{402,204}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{202,0},{402,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-184,80}</string>
                <key>spriteSize</key>
                <string>{410,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,0},{410,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-186,79}</string>
                <key>spriteSize</key>
                <string>{408,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,410},{408,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,69}</string>
                <key>spriteSize</key>
                <string>{378,218}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{202,402},{378,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1960,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea068e583a72e276869833356f3bd038:eb1a080e88026fa99f848c222439f456:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
