<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,109}</string>
                <key>spriteSize</key>
                <string>{282,236}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{291,1035},{282,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,107}</string>
                <key>spriteSize</key>
                <string>{280,230}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{285,1503},{280,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,99}</string>
                <key>spriteSize</key>
                <string>{282,246}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1339},{282,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,102}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1087},{284,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,110}</string>
                <key>spriteSize</key>
                <string>{284,232}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{293,801},{284,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,107}</string>
                <key>spriteSize</key>
                <string>{282,228}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{287,1273},{282,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,99}</string>
                <key>spriteSize</key>
                <string>{280,246}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{283,1735},{280,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,104}</string>
                <key>spriteSize</key>
                <string>{280,248}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1587},{280,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,105}</string>
                <key>spriteSize</key>
                <string>{224,228}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{591,269},{224,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,100}</string>
                <key>spriteSize</key>
                <string>{218,220}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{799,1177},{218,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,99}</string>
                <key>spriteSize</key>
                <string>{210,222}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{813,729},{210,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,114}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{821,479},{202,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,111}</string>
                <key>spriteSize</key>
                <string>{200,216}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{567,1601},{200,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,107}</string>
                <key>spriteSize</key>
                <string>{206,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{817,267},{206,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,106}</string>
                <key>spriteSize</key>
                <string>{216,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{791,1397},{216,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,111}</string>
                <key>spriteSize</key>
                <string>{222,218}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{579,949},{222,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,109}</string>
                <key>spriteSize</key>
                <string>{290,270}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,545},{290,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,104}</string>
                <key>spriteSize</key>
                <string>{290,274}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,269},{290,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,99}</string>
                <key>spriteSize</key>
                <string>{288,268}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,817},{288,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,100}</string>
                <key>spriteSize</key>
                <string>{292,264}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{293,535},{292,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,101}</string>
                <key>spriteSize</key>
                <string>{294,264}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{603,1},{294,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,98}</string>
                <key>spriteSize</key>
                <string>{298,266}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{303,1},{298,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,97}</string>
                <key>spriteSize</key>
                <string>{296,264}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{293,269},{296,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,105}</string>
                <key>spriteSize</key>
                <string>{300,266}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,105}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{591,499},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,100}</string>
                <key>spriteSize</key>
                <string>{222,220}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{803,953},{222,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,99}</string>
                <key>spriteSize</key>
                <string>{218,222}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{575,1169},{218,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,114}</string>
                <key>spriteSize</key>
                <string>{214,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{565,1803},{214,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,111}</string>
                <key>spriteSize</key>
                <string>{212,216}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{785,1609},{212,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,107}</string>
                <key>spriteSize</key>
                <string>{212,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{781,1823},{212,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,106}</string>
                <key>spriteSize</key>
                <string>{218,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{571,1389},{218,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,111}</string>
                <key>spriteSize</key>
                <string>{224,218}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{587,729},{224,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{1024,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f29e01f18d3db84ab18ee7120bd0d55a:6413668e5ed7684d7d7e1ab4aa3082fa:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
