<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5392-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,337},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,431},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,515},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,599},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,515},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,431},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,419},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,683},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,501},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,583},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,665},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,87},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,173},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,259},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,345},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,259},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,173},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,87},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,501},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,1},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,85},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,169},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,419},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,747},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,829},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,851},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,169},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,253},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,933},{50,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5392-97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,767},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5392-99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,683},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{114,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6018db9209264e1bdcad4168460ab24d:b0c403e76b553eac598307a0c1c700a2:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
