<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4187-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{52,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{81,601},{52,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-19}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,175},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-19}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{87,379},{60,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-19}</string>
                <key>spriteSize</key>
                <string>{56,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{87,441},{56,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-19}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{183,1},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4187-108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-19}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{87,187},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-20}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{173,173},{66,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{173,241},{62,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,551},{46,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{165,539},{46,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{173,423},{56,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{173,363},{58,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,239},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{87,251},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,431},{60,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{173,481},{56,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-16}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{91,61},{56,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-17}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,107},{66,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,303},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-17}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{179,87},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4187-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{87,315},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,599},{56,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{58,88}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{93,1},{58,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-14}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{173,305},{56,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-15}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,493},{56,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-13}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{87,119},{66,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{83,499},{52,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{83,553},{46,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,59},{46,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-18}</string>
                <key>spriteSize</key>
                <string>{66,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{165,587},{66,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4187-98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-19}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,367},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{256,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70ce9b9f3239a88bd644dbfd960569e8:18a20d0460263c3b48e0611b60db7654:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
