<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6292-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{833,63},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-16}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{317,1},{72,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-16}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{509,1},{70,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-15}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{593,1},{68,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{827,1},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-16}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{235,83},{64,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-23}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{521,73},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-35}</string>
                <key>spriteSize</key>
                <string>{98,48}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,99},{98,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{403,1},{104,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-32}</string>
                <key>spriteSize</key>
                <string>{106,54}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{101,93},{106,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-24}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{743,1},{66,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{885,79},{50,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-10}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{461,73},{58,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-10}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{675,1},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{395,75},{72,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-16}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{909,1},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6292-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-37}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{79,1},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-40}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{753,69},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-24}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{161,1},{72,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-42}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{593,71},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-31}</string>
                <key>spriteSize</key>
                <string>{76,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-39}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{235,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-41}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{673,71},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6292-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-43}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{317,75},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>death.png</string>
            <key>size</key>
            <string>{970,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54a6deca660ffd37f5ae593f3f7ef6ab:8b1e37d22b9b6934f3a889ea80e3a0ae:93e1a4172adad0416fcc4262b4b74fcf$</string>
            <key>textureFileName</key>
            <string>death.png</string>
        </dict>
    </dict>
</plist>
