<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5876-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-35}</string>
                <key>spriteSize</key>
                <string>{36,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{197,715},{36,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-25}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{107,191},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,231},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-26}</string>
                <key>spriteSize</key>
                <string>{98,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,313},{98,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-28}</string>
                <key>spriteSize</key>
                <string>{98,74}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,551},{98,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-30}</string>
                <key>spriteSize</key>
                <string>{126,70}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,81},{126,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-30}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{129,81},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-27}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{101,435},{98,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{201,541},{36,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{36,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,709},{36,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-31}</string>
                <key>spriteSize</key>
                <string>{38,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{201,369},{38,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{38,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{201,283},{38,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-22}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{101,591},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-21}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,473},{98,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{101,513},{98,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{36,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{77,709},{36,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-23}</string>
                <key>spriteSize</key>
                <string>{98,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{101,355},{98,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-23}</string>
                <key>spriteSize</key>
                <string>{98,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,393},{98,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-23}</string>
                <key>spriteSize</key>
                <string>{126,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-23}</string>
                <key>spriteSize</key>
                <string>{120,78}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{129,1},{120,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-22}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{101,273},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-26}</string>
                <key>spriteSize</key>
                <string>{36,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{39,709},{36,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{38,90}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{207,191},{38,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{115,673},{36,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5876-70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-23}</string>
                <key>spriteSize</key>
                <string>{36,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{115,749},{36,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5876-72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{115,711},{36,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5876-74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{36,90}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{201,449},{36,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{36,114}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,153},{36,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5876-78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{36,112}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{117,153},{36,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5876-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{36,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{197,631},{36,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5876-80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{38,104}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,191},{38,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5876-98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-25}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,627},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{250,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc0d0ae5abfc7a4c013b1b537d067cc5:a59c00b094620ba3342e3d40e1faa766:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
