<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,253},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,335},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,431},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,515},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,599},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,515},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,431},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,683},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,417},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,499},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,581},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,87},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,173},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,259},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,417},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,345},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,259},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,173},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,87},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,335},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,1},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,85},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,169},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,663},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,745},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,827},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,169},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{63,85},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,851},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,767},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001-98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,683},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{114,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0daf9f75e89c94ea17c627805f21b3b3:63123a75e1e3369cc67cd9295e57f769:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
