<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,62}</string>
                <key>spriteSize</key>
                <string>{146,166}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{713,171},{146,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,65}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{155,353},{150,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,81}</string>
                <key>spriteSize</key>
                <string>{142,188}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,59}</string>
                <key>spriteSize</key>
                <string>{154,158}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{323,349},{154,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,63}</string>
                <key>spriteSize</key>
                <string>{154,148}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{935,1},{154,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,62}</string>
                <key>spriteSize</key>
                <string>{144,150}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1135,155},{144,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,58}</string>
                <key>spriteSize</key>
                <string>{144,154}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{953,317},{144,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,62}</string>
                <key>spriteSize</key>
                <string>{146,166}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{713,171},{146,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,74}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{309,175},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,72}</string>
                <key>spriteSize</key>
                <string>{130,168}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{551,1},{130,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,68}</string>
                <key>spriteSize</key>
                <string>{164,158}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{483,345},{164,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,65}</string>
                <key>spriteSize</key>
                <string>{134,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,369},{134,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,55}</string>
                <key>spriteSize</key>
                <string>{156,172}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{151,179},{156,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,65}</string>
                <key>spriteSize</key>
                <string>{148,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{985,157},{148,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,62}</string>
                <key>spriteSize</key>
                <string>{130,156}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{803,1},{130,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000187.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,74}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{309,175},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,66}</string>
                <key>spriteSize</key>
                <string>{130,168}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{581,171},{130,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,67}</string>
                <key>spriteSize</key>
                <string>{136,168}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{443,175},{136,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,59}</string>
                <key>spriteSize</key>
                <string>{132,150}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1225,307},{132,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,59}</string>
                <key>spriteSize</key>
                <string>{176,148}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,191},{176,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,56}</string>
                <key>spriteSize</key>
                <string>{144,176}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{145,1},{144,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,58}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1085,1},{142,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,55}</string>
                <key>spriteSize</key>
                <string>{142,164}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{809,339},{142,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,66}</string>
                <key>spriteSize</key>
                <string>{130,168}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{581,171},{130,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,74}</string>
                <key>spriteSize</key>
                <string>{114,172}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{435,1},{114,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,72}</string>
                <key>spriteSize</key>
                <string>{118,168}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{683,1},{118,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,68}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{649,341},{160,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,65}</string>
                <key>spriteSize</key>
                <string>{124,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1099,311},{124,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,55}</string>
                <key>spriteSize</key>
                <string>{142,172}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{291,1},{142,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,65}</string>
                <key>spriteSize</key>
                <string>{134,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1229,1},{134,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,62}</string>
                <key>spriteSize</key>
                <string>{122,156}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{861,159},{122,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,74}</string>
                <key>spriteSize</key>
                <string>{114,172}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{435,1},{114,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1364,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b5352b9445d5c9170961afd986fa2c0:770918e1456c6784b17d7a992d2f208d:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
