<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,52}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,305},{138,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,53}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,445},{140,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,54}</string>
                <key>spriteSize</key>
                <string>{144,156}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{319,635},{144,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,56}</string>
                <key>spriteSize</key>
                <string>{158,154}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{327,475},{158,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,56}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{169,167},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,55}</string>
                <key>spriteSize</key>
                <string>{160,156}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{165,323},{160,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,52}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{163,481},{140,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,53}</string>
                <key>spriteSize</key>
                <string>{136,166}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,167},{136,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,56}</string>
                <key>spriteSize</key>
                <string>{188,164}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,63}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{155,1065},{150,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,63}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1035},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,63}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{317,919},{154,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,63}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{161,623},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,63}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,741},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,63}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1487},{140,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,63}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{309,1219},{140,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,61}</string>
                <key>spriteSize</key>
                <string>{140,154}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{159,923},{140,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,61}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,895},{138,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,60}</string>
                <key>spriteSize</key>
                <string>{136,156}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{317,781},{136,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,61}</string>
                <key>spriteSize</key>
                <string>{144,156}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{159,777},{144,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,61}</string>
                <key>spriteSize</key>
                <string>{158,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,587},{158,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,61}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{309,1073},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,61}</string>
                <key>spriteSize</key>
                <string>{138,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{155,1363},{138,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,61}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{309,1361},{140,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,56}</string>
                <key>spriteSize</key>
                <string>{172,164}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{191,1},{172,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,63}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{155,1217},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,63}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1341},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,63}</string>
                <key>spriteSize</key>
                <string>{146,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{333,321},{146,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,63}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1189},{150,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,63}</string>
                <key>spriteSize</key>
                <string>{148,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{333,167},{148,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,63}</string>
                <key>spriteSize</key>
                <string>{130,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{155,1503},{130,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,63}</string>
                <key>spriteSize</key>
                <string>{130,152}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{309,1503},{130,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{482,1634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a281b1ae9a09576de4b38f6ae9c313f1:6d1bc1048c919dfaa3ca21383ffa5409:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
