<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,69}</string>
                <key>spriteSize</key>
                <string>{282,228}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{573,847},{282,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,64}</string>
                <key>spriteSize</key>
                <string>{282,236}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{567,609},{282,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,68}</string>
                <key>spriteSize</key>
                <string>{280,242}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,609},{280,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,73}</string>
                <key>spriteSize</key>
                <string>{282,238}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{283,609},{282,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,69}</string>
                <key>spriteSize</key>
                <string>{284,220}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1637,1},{284,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,71}</string>
                <key>spriteSize</key>
                <string>{290,216}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1585,423},{290,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,76}</string>
                <key>spriteSize</key>
                <string>{284,224}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{851,595},{284,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,79}</string>
                <key>spriteSize</key>
                <string>{288,230}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{283,849},{288,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,94}</string>
                <key>spriteSize</key>
                <string>{336,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,205},{336,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,94}</string>
                <key>spriteSize</key>
                <string>{324,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{339,205},{324,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,96}</string>
                <key>spriteSize</key>
                <string>{318,194}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{997,1},{318,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,95}</string>
                <key>spriteSize</key>
                <string>{318,196}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1317,1},{318,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,87}</string>
                <key>spriteSize</key>
                <string>{314,198}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{985,197},{314,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,87}</string>
                <key>spriteSize</key>
                <string>{314,196}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1301,199},{314,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,94}</string>
                <key>spriteSize</key>
                <string>{328,194}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{667,1},{328,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,97}</string>
                <key>spriteSize</key>
                <string>{336,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,81}</string>
                <key>spriteSize</key>
                <string>{258,198}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{857,821},{258,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,79}</string>
                <key>spriteSize</key>
                <string>{264,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1461,845},{264,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,73}</string>
                <key>spriteSize</key>
                <string>{268,206}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1253,805},{268,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,76}</string>
                <key>spriteSize</key>
                <string>{268,210}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,853},{268,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,75}</string>
                <key>spriteSize</key>
                <string>{268,208}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1137,595},{268,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,77}</string>
                <key>spriteSize</key>
                <string>{266,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1461,641},{266,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,79}</string>
                <key>spriteSize</key>
                <string>{258,194}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1057,821},{258,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,82}</string>
                <key>spriteSize</key>
                <string>{258,194}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1729,641},{258,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,94}</string>
                <key>spriteSize</key>
                <string>{326,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1,407},{326,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,94}</string>
                <key>spriteSize</key>
                <string>{316,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{329,407},{316,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,96}</string>
                <key>spriteSize</key>
                <string>{308,194}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{665,393},{308,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,95}</string>
                <key>spriteSize</key>
                <string>{306,196}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{975,397},{306,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,87}</string>
                <key>spriteSize</key>
                <string>{308,198}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1617,223},{308,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,87}</string>
                <key>spriteSize</key>
                <string>{300,196}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1283,397},{300,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,94}</string>
                <key>spriteSize</key>
                <string>{316,194}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{667,197},{316,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,97}</string>
                <key>spriteSize</key>
                <string>{326,202}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{339,1},{326,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{1926,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bfa11893f8bc662b21acc64e4b5efe7:e850e50d4d150c6b0eda6959acfe657c:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
