<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4013-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-23}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,99},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-26}</string>
                <key>spriteSize</key>
                <string>{96,74}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{419,1},{96,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-27}</string>
                <key>spriteSize</key>
                <string>{98,70}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{429,99},{98,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-43}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{95,295},{82,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-50}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,305},{96,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-45}</string>
                <key>spriteSize</key>
                <string>{98,54}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{195,195},{98,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-46}</string>
                <key>spriteSize</key>
                <string>{98,54}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{251,355},{98,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-46}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{351,339},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-24}</string>
                <key>spriteSize</key>
                <string>{108,66}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{209,99},{108,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-25}</string>
                <key>spriteSize</key>
                <string>{108,66}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{319,99},{108,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-25}</string>
                <key>spriteSize</key>
                <string>{106,66}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{251,167},{106,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{307,411},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-24}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,403},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-24}</string>
                <key>spriteSize</key>
                <string>{96,70}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{179,295},{96,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-23}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{251,289},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-21}</string>
                <key>spriteSize</key>
                <string>{52,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{415,275},{52,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-24}</string>
                <key>spriteSize</key>
                <string>{82,54}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{359,255},{82,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-29}</string>
                <key>spriteSize</key>
                <string>{96,48}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{393,429},{96,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-22}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{219,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-22}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{109,95},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-24}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{95,195},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{359,167},{68,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{211,411},{62,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{157,393},{52,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-23}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{429,199},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-39}</string>
                <key>spriteSize</key>
                <string>{98,42}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{453,329},{98,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-51}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{251,235},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-57}</string>
                <key>spriteSize</key>
                <string>{108,92}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{109,1},{108,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-59}</string>
                <key>spriteSize</key>
                <string>{108,92}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,195},{108,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4013-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-23}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{319,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-56}</string>
                <key>spriteSize</key>
                <string>{106,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4013-98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-25}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{79,403},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>death.png</string>
            <key>size</key>
            <string>{500,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5edbae054d1d633438b9ef6c229b9d3e:19b52afd4e716aeb90fcc365ec7d5670:93e1a4172adad0416fcc4262b4b74fcf$</string>
            <key>textureFileName</key>
            <string>death.png</string>
        </dict>
    </dict>
</plist>
